@using Demos.Orlando.ToDo.Views.Components.TodoComponents
<div>
    <TodoComponent Title="@Title"  OnAdded="HandleOnAdded"/>
    @if (Items != null)
    {
        <ul>
            @foreach (var item in Items)
            {
                <li>@item.Title (@item.IsCompleted)</li>
            }
        </ul>
    }
    else
    {
        <text>No data</text>
    }
</div>